.green-counter {
    display: flex;
    align-items: center;
    background-color: green;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 10px;
    width: 110px;
}

.green-counter button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
}

.green-counter button:hover {
    background-color: rgba(0, 128, 0, 0.7);
}

.not-available {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}